<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Clean City</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../assets/css/animate.min.css" rel="stylesheet"/>
    <link href="../assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>
    <link href="../assets/css/demo.css" rel="stylesheet"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet"/>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
<div id="pre-div">
    <div id="loader">
    </div>
</div>
<div class="row">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a href="/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>User DashBoard</p>
                    </a>
                </li>
                <li>
                <li>
                    <a href="/displaySensors">
                        <i class="pe-7s-news-paper"></i>
                        <p>Sensor Data Display</p>
                    </a>
                </li>
                <li>
                    <a href="/displayStations">
                        <i class="pe-7s-news-paper"></i>
                        <p>Station Data Display</p>
                    </a>
                </li>
                <a href="/adminsensormanagement">
                    <i class="pe-7s-news-paper"></i>
                    <p>Admin Login</p>
                </a>
                </li>
            </ul>
        </div>
    </div>
    <div style="margin-left:17%;height:1000px;margin-right:3%">
        <h2 style="text-align: center;font-family: fantasy;  font-size: -webkit-xxx-large"> Clean City </h2>
        <hr style="border-width: 5px;    border-style: double;    border-color: black;"/>
        <div id="map" style="height: 640px"></div>
        <script>
            function initMap() {
                var uluru = {lat: 37.766302, lng: -122.444647};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 4,
                    center: uluru
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
                var stations = JSON.parse('<%- JSON.stringify(stations) %>');
                for (i = 0; i < stations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(stations[i].lat, stations[i].lng),
                        map: map
                    });
                    var infowindow = new google.maps.InfoWindow();
                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(stations[i].station);
                            infowindow.open(map, marker);
                            window.location = "/displaySensors/" + stations[i].station_id;
                        }
                    })(marker, i));
                }
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHrkw77KQeSTv4S8GQXh3zFPntHAyWfeQ&callback=initMap">
        </script>
    </div>
</div>


<script src="../assets/js/jquery-1.10.2.js"></script>
<script src="../assets/js/bootstrap.js"></script>
<script src="../assets/js/wow.min.js"></script>
<script src="../assets/js/jquery.easing.min.js"></script>
<script src="../assets/js/custom.js"></script>

</body>
</html>