<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>ECOSAVE BOOTSTRAP ENVIRONMENT TEMPLATE</title>
    <!--  Bootstrap Style -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!--  Font-Awesome Style -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--  Animation Style -->
    <link href="assets/css/animate.css" rel="stylesheet" />
    <!--  Pretty Photo Style -->
    <link href="assets/css/prettyPhoto.css" rel="stylesheet" />
    <!--  Google Font Style -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!--  Custom Style -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="pre-div">
    <div id="loader">
    </div>
</div>
<!--/. PRELOADER END -->
<div class="navbar navbar-default navbar-fixed-top move-me ">
    <div class="container">

        <div class="navbar-collapse collapse move-me">
            <ul class="nav navbar-nav navbar-right">

                <li >
                    <a href="#home">HOME

                    </a>

                </li>
                <li >
                    <a href="#about">ABOUT

                    </a>

                </li>

                <li >
                    <a href="#port-folio">GALLERY
                    </a>

                </li>

                <li >
                    <a href="#help">HOW TO HELP ?
                    </a>

                </li>

                <li >
                    <a href="#contact">CONTACT
                    </a>

                </li>
            </ul>
        </div>

    </div>
</div>
<!--./ NAV BAR END -->
<div id="home" >
    <div class="overlay">
        <div class="container">
            <div class="row ">
                <div class="col-lg-9 col-md-9 head-text">
                    <h1 id="divDisp" >CLEAN CITY</h1>

                    <span>
                            <i class="fa fa-lightbulb-o" ></i>Analysed Sensor data
                        </span>

                    <span >
                            <i class="fa fa-lightbulb-o" ></i>5 different air and water sensors deployed.
                        </span>
                    <button type="button" id="begin" class="btn btn-info "><a href="/dashboard">Dashboard</a></button>


                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="div-trans text-center">
                        <h3>ADMIN LOGIN</h3>

                        <div class="col-lg-12 col-md-12 col-sm-12" >



                            <form name="adminlogin" enctype="application/x-www-form-urlencoded" method="POST" action="/admincheck">
                            <div class="form-group">

                            <input type="text" name= "username" class="form-control" required="required" placeholder="Username" style="
    color: red;">
                            <div class="form-group">
                                <input type="password" name= "password" class="form-control" required="required" placeholder="Password" style="color:red;">
                            </div>
                            <div class="form-group">
                                <button type="submit" >Login</button>

                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>
<script src="assets/js/jquery-1.10.2.js"></script>
<!--  Core Bootstrap Script -->
<script src="assets/js/bootstrap.js"></script>
<!--  WOW Script -->
<script src="assets/js/wow.min.js"></script>
<!--  Scrolling Script -->
<script src="assets/js/jquery.easing.min.js"></script>
<!--  PrettyPhoto Script -->
<!--  Custom Scripts -->
<script src="assets/js/custom.js"></script>

</body>
</html>